@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="col-md-6">
        <button class="btn" id="generate">Generate Messages</button> <br />
        <button class="btn" id="retrieve">Get Messages</button> <br />
        <button class="btn" id="checkTable">Validate Web Job</button> <br />

    </div>
    <div class="col-md-6" id="result">

    </div>
</div>


